---
layout: default
---
{% for post in site.posts %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h1 class="post-title" itemprop="name headline">
        {{ post.date | date: "%A" }}
      </h1>
      <h1 class="post-title">
        {% assign d = post.date | date: "%-d"  %}
        {{ post.date | date: "%B" }}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st,
          {% when '2' or '22' %}{{ d }}nd,
          {% when '3' or '23' %}{{ d }}rd,
          {% else %}{{ d }}th,
          {% endcase %}
        {{ post.date | date: "%Y" }}
      </h1>
    </a>
    <a href="mailto:huntca@gmail.com">> Contact me</a>
    <img src="{{ "/assets/line.png" | relative_url }}" />
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>
</article>

{% endfor %}
